
.margem1{
    margin: 50px;
    color: #04466d;
}

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


nav {
    background-color: #04466d; 
    padding: 10px 0;
}

.menu {
    list-style: none; 
    display: flex; 
    justify-content: center;
}

.menu li {
    margin: 0 15px; 
}

.menu a {
    color: #fff; 
    text-decoration: none; 
    font-size: 18px;
    padding: 10px 15px; 
    display: block;
    transition: background-color 0.3s; 
}


.menu a:hover {
    background-color: #899ae9;
     
}
.paragrafo1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
}
li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
text-align: center;
}
.paragrafo2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
}
#titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}